<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html lang="zxx">

<head>
    <title>交警登录界面</title>
    <style>
        a:hover {
            color: #ff6b6b !important;
        }
    </style>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"/>
    <meta name="keywords"
          content="Land Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->

    <!-- Custom-Files -->
    <link href="{{ url_for('static',filename='css/bootstrap.css') }}" rel='stylesheet' type='text/css'/>
    <!-- Bootstrap-Core-CSS -->
    <link href=" {{ url_for('static',filename='css/style.css') }} " rel='stylesheet' type='text/css'/>
    <!-- Style-CSS -->
    <link href="{{ url_for('static',filename='css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //Custom-Files -->

</head>

<body>
<!-- header -->
<header class="bacc">
    <div class="container">
        <div class="header d-lg-flex justify-content-between align-items-center py-2 px-sm-2 px-1">
            <!-- logo -->
            <div id="logo">
                <h1><span style="color: #ff6b6b">C.</span>G.A</h1>
            </div>
            <!-- //logo -->
            <!-- nav -->
            <div class="nav_w3ls ml-lg-5">
                <nav>
                    <label for="drop" class="toggle">Menu</label>
                    <input type="checkbox" id="drop"/>
                    <ul class="menu">
                        <li><a href="{{ url_for('shouye') }}">回到首页</a></li>
                        <li><a href="{{ url_for('register') }}">立即注册</a></li>
                    </ul>
                </nav>
            </div>
            <!-- //nav -->
        </div>
    </div>
</header>
<!-- //header -->

<!-- inner banner -->
<div class="inner-banner-w3ls py-5" id="home">
    <div class="container py-xl-5 py-lg-3">
        <!-- login  -->
        <div class="modal-body my-5 pt-4">
            <h3 class="title-w3 mb-5 text-center text-wh font-weight-bold">管理员登录</h3>
            <form action="dologin" method="get">
                <div class="form-group">
                    <label class="col-form-label">用户名</label>
                    <input type="text" class="form-control" placeholder="请输入用户名" name="Name" required="">
                </div>
                <div class="form-group">
                    <label class="col-form-label">密码</label>
                    <input type="password" class="form-control" placeholder="请输入密码" name="Password" required="">
                </div>
                <button type="submit" class="btn button-style-w3"> 登录</button>
                <div class="row sub-w3l mt-3 mb-5">
                    <div class="col-sm-6 sub-w3layouts_hub">
                        <input type="checkbox" id="brand1" value="">
                        <label for="brand1" class="text-li text-style-w3ls">
                            <span></span>记住我?</label>
                    </div>
                </div>
                <p class="text-center dont-do text-style-w3ls text-li">还未注册?
                    <a href="{{ url_for('register') }}" class="font-weight-bold text-li">
                        现在注册</a>
                </p>
            </form>
        </div>
        <!-- //login -->
    </div>
</div>
<!-- //inner banner -->


<!-- copyright -->
<div class="copyright-w3ls py-4">
    <div class="container">
        <div class="row">
            <!-- copyright -->
            <p class="col-lg-8 copy-right-grids text-wh text-lg-left text-center mt-lg-2">© 2019 Land. All
                Rights Reserved | Design by C.G.A
            </p>
            <!-- //copyright -->

        </div>
    </div>
</div>
<!-- //copyright -->
<!-- move top icon -->
<a href="#home" class="move-top text-center">
    <span class="fa fa-angle-double-up" aria-hidden="true"></span>
</a>
<!-- //move top icon -->

<!-- Modal -->
<div class="modal fade" id="errorDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">登录失败</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                该用户未注册！请先注册后登陆
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">好的</button>
            </div>
        </div>
    </div>
</div>
</body>


</html>
<script>
    if ({{ error }}) {
        $('#errorDialog').modal('show')
    }
</script>